# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-check.txt

# Unit test / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.testmondata
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.issue

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
  .ipython/

# pyenv
#   Time-stamp file created by pyenv internally
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case you're running an application rather than a library, you might want to uncomment this.
#Pipfile.lock

# poetry
#   Poetry auto-generates a lock file. Include it in version control, unless it's a library.
#poetry.lock

# pdm
#   PDM stores project-wide configurations in .pdm.toml
.pdm.toml
.pdm-plugins/

# Hatch
.hatch/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parses
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyder-py3

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# IDEs (Optional, can also be handled globally)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

reserv
*.reserv

trades.db
*.trades.db